@inherits LayoutComponentBase
@inject HttpClient Http

<PageTitle>Quizerio.CMS</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        Http.BaseAddress = new Uri("https://localhost:7180/");
    }
}