# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Quizerio.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# macOS system files
.DS_Store

# .NET build output
**/bin/
**/obj/


# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# SQLite DB (if generated locally)
Quizerio.Api/Quizerio.db

# Rider / JetBrains IDE
.idea/
*.sln.iml

# Build results cache
**/*.cache
**/*.pdb
**/*.dll
**/*.exe
**/*.json.gz
**/*.css
**/*.css.gz
**/*.bundle.scp.css

# Output from Blazor/web builds
**/wwwroot/_framework/

.vs/
**/*.db
**/*.db-**
.vscode/
