@inherits LayoutComponentBase
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="login" target="_self">Sign in</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        Http.BaseAddress = new Uri("https://localhost:7180/");
    }
}